@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {

  .btn {
    @apply inline-block px-3 py-1 md:px-6 md:py-2 text-xs font-normal md:font-medium leading-normal uppercase rounded focus:outline-none focus:ring-0 transition duration-150 ease-in-out
      shadow-md hover:shadow-lg focus:shadow-lg active:shadow-lg disabled:bg-gray-400;
  }

  .btn-primary {
    @apply btn bg-blue-600 text-white hover:bg-blue-500 active:bg-blue-800 disabled:bg-gray-400;
  }

  .btn-secondary {
    @apply btn bg-purple-600 text-white hover:bg-purple-500 active:bg-purple-800 disabled:bg-gray-400;
  }

  .btn-success {
    @apply btn bg-green-600 text-white hover:bg-green-500 active:bg-green-800;
  }

  .btn-danger {
    @apply btn bg-red-600 text-white hover:bg-red-500 active:bg-red-800;
  }

  .btn-warning {
    @apply btn bg-yellow-500 text-white hover:bg-yellow-400 active:bg-yellow-600;
  }

  .btn-info {
    @apply btn bg-blue-400 text-white hover:bg-blue-300 active:bg-blue-600;
  }

  .btn-dark {
    @apply btn bg-slate-800 text-white hover:bg-slate-700 active:bg-slate-900;
  }

  .btn-light {
    @apply btn bg-slate-100 text-black hover:bg-slate-200 active:bg-slate-300;
  }
}

/* global mat- mods */
.mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

.mat-expansion-panel .mat-expansion-panel-body,
.mat-expansion-panel .mat-expansion-panel-header {
  padding: 0;
}
